//import all of my css variables
@import '_vars';

//import media queries
@import '_mediaqueries';

//----------------------------------General

html {
    background-color: $dark-color;
}

h2, h3 {
    font-size: 2em;
    color: $white;
    font-family: $font;
}

label {
    font-family: $font;
}

p {
    font-family: $font;
    color: $white;
}

a {
    text-decoration: none;
    color: $white;
    font-family: $font;
}

i {
    color: $light-color;
}

li {
    color: $white;
    font-family: $font;
}

.hidden {
    display: none;
}
